body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#setup-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the container takes full height of the viewport */
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 70px); /* Increased grid size */
    grid-template-rows: repeat(10, 70px); /* Increased grid size */
    gap: 2px;
    margin: 0 auto;
}

.cell {
    width: 70px; /* Increased cell size */
    height: 70px; /* Increased cell size */
    background-color: transparent; /* Make the cell background transparent */
    display: flex;
    align-items: center;
    justify-content: center;
